<ejs-grid
  #grid
  id="grid"
  [dataSource]="data"
  [allowPaging]="false"
  [allowResizing]="true"
  [allowSorting]="true"
  gridLines="Both"
  [locale]="locale"
  (actionBegin)="actionBegin($event)"
  (actionComplete)="actionComplete($event)"
  [editSettings]="editSettings"
  [pageSettings]="pageSettings"
  [toolbar]="toolbarOptions"
  [allowExcelExport]="true"
  [enableInfiniteScrolling]="true"
  (rowSelected)="rowSelected($event)"
  (recordClick)="recordClick($event)"
  (recordDoubleClick)="onDoubleClick($event)"
  [selectionSettings]="selectionOptions"
  (toolbarClick)="toolbarClick($event)"
  (dataBound)='dataBound()'

  [height]="height"
>
  <e-columns>
    <e-column
      field="option"
      [allowSorting]="false"
      [allowSearching]="false"
      [allowGrouping]="false"
      [allowFiltering]="false"
      [allowEditing]="false"
      textAlign="Left"
          headerTextAlign="Center"
      width="80"
      headerTextAlign="Center"
      headerText="{{ 'OPTION' | translate}}"
    >
      <ng-template #template let-data>
        <span (click)="delete(data.id)" class="delete-grid">
          <i class="fa fa-trash"></i>
        </span>
        <span (click)="openModal(optionModal, data)" class="edit-grid">
          <i class="fa fa-edit"></i>
        </span>
      </ng-template>
    </e-column>

    <e-column field="roomNo" textAlign="Left" headerText="{{ 'ROOM_NO' | translate }}"></e-column>

    <e-column field="roomName" textAlign="Left" headerText="{{ 'ROOM_NAME' | translate }}" ></e-column>
    <e-column field="roomName" textAlign="Left" headerText="{{ 'ROOM_PHOTO' | translate }}" >
      <ng-template #template let-data>
        <img
          style="cursor: pointer"
          [src]="imagePathDefault(data.roomPhoto)"
          class="avatar"
          onError="this.src='assets/images/no-img.jpg'"
          [alt]=""
        />
      </ng-template>
    </e-column>
    <e-column field="price" textAlign="Left" headerText="{{ 'ROOM_PRICE' | translate }}" ></e-column>
    <e-column field="priceMember" textAlign="Left" headerText="{{ 'ROOM_PRICE_MEMBER' | translate }}" ></e-column>
    <e-column field="priceSpecial" textAlign="Left" headerText="{{ 'ROOM_PRICE_SPECIAL' | translate }}" ></e-column>
   
  </e-columns>
</ejs-grid>

<ng-template #optionModal let-modal>
  <div class="modal-header my-modal">
    <h4 class="modal-title">
      <i class="fas fa-plus"></i> {{ title | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-center" *ngIf="loading == 1">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
     </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="kv-avatar">
          <div class="file-loading">
            <input
              id="avatar-1"
              name="avatar-1"
              (change)="onFileChangeLogo($event)"
              type="file"
              required
            />
          </div>
        </div>
        <div class="kv-avatar-hint">
          <small>Select file < 5000 KB</small>
        </div>
      </div>

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label ngbTooltip="ROOM_NAME" for="name">{{ "ROOM_NAME" | translate }}</label>
              <span  style="color: red">(*)</span>
              <span ngbTooltip="Text length" class="max-length"> {{ '( Text length <= 20 )' | translate }}</span>
              <input
                maxlength="20"
                type="text"
                [(ngModel)]="model.roomName"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label ngbTooltip="ROOM_NO" for="no">{{ "ROOM_NO" | translate }}</label>
              <span  style="color: red">(*)</span>
              <span ngbTooltip="Text length" class="max-length"> {{ '( Text length <= 20 )' | translate }}</span>
              <input
                maxlength="20"
                type="text"
                [(ngModel)]="model.roomNo"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>{{ "ROOM_SIZE" | translate }} </label>
              <span  style="color: red">(*)</span>
              <span ngbTooltip="Text length" class="max-length"> {{ '( Text length <= 20 )' | translate }}</span>
              <input
              name="roomSize"
              type="number"
              min="0"
              [(ngModel)]="model.roomSize"
              class="form-control"
            />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label ngbTooltip="ROOM_DESCRIPT" for="no">{{ "ROOM_DESCRIPT" | translate }}</label>
              <span  style="color: red">(*)</span>
              <span ngbTooltip="Text length" class="max-length"> {{ '( Text length <= 20 )' | translate }}</span>
              <input
                maxlength="100"
                type="text"
                [(ngModel)]="model.roomDescript"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>{{ "ROOM_PRICE" | translate }} </label>
              <span  style="color: red">(*)</span>
              <span ngbTooltip="Text length" class="max-length"> {{ '( Text length <= 20 )' | translate }}</span>
              <input
              name="roomPrice"
              type="number"
              min="0"
              [(ngModel)]="model.price"
              class="form-control"
            />
            </div>
            
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>{{ "ROOM_PRICE_MEMBER" | translate }} </label>
              <span  style="color: red">(*)</span>
              <span ngbTooltip="Text length" class="max-length"> {{ '( Text length <= 20 )' | translate }}</span>
              <input
              name="roomPriceMember"
              type="number"
              min="0"
              [(ngModel)]="model.priceMember"
              class="form-control"
            />
            </div>
            
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>{{ "ROOM_PRICE_SPECIAL" | translate }} </label>
              <span  style="color: red">(*)</span>
              <span ngbTooltip="Text length" class="max-length"> {{ '( Text length <= 20 )' | translate }}</span>
              <input
              name="roomPriceSpecial"
              type="number"
              min="0"
              [(ngModel)]="model.priceSpecial"
              class="form-control"
            />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label ngbTooltip="ROOM_LOCATION" for="Employee">{{ "ROOM_LOCATION" | translate }}</label>
              <span  style="color: red">(*)</span>
              <app-code-type-dropdownlist
                id="site-type-remote"
                [codeType]="'Room_Location'"
                [(selectedValue)]="model.roomLocation"
                >
              </app-code-type-dropdownlist>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label ngbTooltip="SITE_TYPE" for="Employee">{{ "SITE_TYPE" | translate }}</label>
              <span  style="color: red">(*)</span>
              <app-code-type-dropdownlist
                id="site-type-remote"
                [codeType]="'Hall_Type'"
                [(selectedValue)]="model.type"
                >
              </app-code-type-dropdownlist>
              
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label> Room Gallery </label>
        <div class="custom-dropzone mb-2" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
          <ngx-dropzone-label>
            <div>
              <h2>Upload Images</h2>
            </div>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of listFile" [file]="f"
            [removable]="true" (removed)="onRemove(f)">
          </ngx-dropzone-image-preview>
        </div>
      </div>
      <div class="col-md-6">
        <label>{{ "ROOM_COMMENT" | translate }} </label>
        <div class="form-group">
          <textarea
            class="form-control"
            [(ngModel)]="model.comment"
            cols="4"
            rows="4"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="mr-auto" *ngIf="model?.id > 0">
      <p>
        <span class='mr-2'> <span class='my-font-weight-bold'>{{ 'Create by' | translate}}</span> : {{audit?.createBy}}</span>
        <span><span class='my-font-weight-bold'>{{ 'Create date time' | translate}}</span> : {{audit?.createDate}}</span>
      </p>
      <p>
        <span class='mr-2'><span class='my-font-weight-bold'>{{ 'Update by' | translate}}</span> : {{audit?.updateBy}}</span>
        <span><span class='my-font-weight-bold'>{{ 'Update date time' | translate}}</span> : {{audit?.updateDate}}</span>
      </p>
    </div>
    <span *ngIf="!(model.id > 0)" class="my-note mr-auto">
      {{ 'Note: (*) is a required field' | translate }}
    </span>
    <button
      type="button"
      class="btn btn-light"
      (click)="closeModal()"
    >
      {{ "CLOSE" | translate }}
    </button>
    <button
      [disabled]="!model.roomName"
      (click)="save()"
      class="btn btn-primary"
    >
      {{ "SAVE" | translate }}
    </button>
  </div>
</ng-template>
