<ejs-grid
  #grid
  id="grid"
  [dataSource]="data"
  [allowPaging]="true"
  [allowResizing]="true"
  [allowSorting]="true"
  gridLines="Both"
  [locale]="locale"
  [toolbar]="toolbarOptions"
  [pageSettings]="pageSettingsMenu"
  [allowExcelExport]="true"
  [enableInfiniteScrolling]="true"
  (rowSelected)="rowSelected($event)"
  (recordClick)="recordClick($event)"
  [selectionSettings]="selectionOptions"
  (dataBound)='dataBound()'
>
  <e-columns>
    

    
  <!-- <e-column
  field="modelName"
  textAlign="Left"
  headerText="{{ 'SHOE_MODEL_NAME' | translate }}"
>
</e-column> -->
<e-column
    field="modelNo"
    textAlign="Left"
    headerText="{{ 'SHOE_MODEL_NO' | translate }}"
  >
  </e-column>
  
  <e-column
  field="version"
  textAlign="Left"
  headerText="{{ 'VERSION_LABEL' | translate }}"
>
</e-column>
  <!-- <e-column
    field="article1"
    textAlign="Left"
    headerText="{{ 'SHOE_ARTICEL1' | translate }}"
  >
  </e-column> -->

  <e-column
  field="article2"
  textAlign="Left"
  headerText="{{ 'SHOE_ARTICEL2' | translate }}"
>
</e-column>

  <!-- <e-column
    field="remark"
    textAlign="Left"
    headerText="{{ 'SHOE_REMARK' | translate }}"
  >
  </e-column> -->


    
  </e-columns>
</ejs-grid>

<ng-template #optionModal let-modal>
  <div class="modal-header my-modal">
    <h4 class="modal-title">
      <i class="fas fa-plus"></i> {{ title | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md">
            <label>{{ "SHOE_MODEL_NAME" | translate }} </label>
            <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
            <span class="max-length"> ( {{"Text length"| translate }} <= 100 )</span>
            <div class="form-group">
              <input
              maxlength="100"
                type="text"
                [(ngModel)]="model.modelName"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md">
            <label>{{ "SHOE_MODEL_NO" | translate }} </label>
            <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
            <span class="max-length"> ( {{"Text length"| translate }} <= 200 )</span>
            <div class="form-group">
              <input
              maxlength="200"
                type="text"
                name="supplier"
                [(ngModel)]="model.modelNo"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-md">
            <label>{{ "SHOE_ARTICEL1" | translate }} </label>
            <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
            <span *ngIf="!(model.guid !== (null || ''))" style="color: red">(*)</span>
            <div class="form-group">
                <input
                maxlength="200"
                  type="text"
                  name="materialNo"
                  [(ngModel)]="model.article1"
                  class="form-control"
                />
              <!-- <app-code-type-dropdownlist
              id="hall-type-remote"
              [codeType]="'Hall_Type'"
              [(selectedValue)]="model.comment"
              >
              </app-code-type-dropdownlist> -->
            </div>
          </div>

        </div>

        <div class="row">
            <div class="col-md">
              <label>{{ "SHOE_ARTICEL2" | translate }} </label>
              <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
              <span class="max-length"> ( {{"Text length"| translate }} <= 100 )</span>
              <div class="form-group">
                <input
                maxlength="100"
                  type="text"
                  [(ngModel)]="model.article2"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md">
              <label>{{ "SHOE_REMARK" | translate }} </label>
              <span class="max-length"> ( {{"Text length"| translate }} <= 200 )</span>
              <div class="form-group">
                <input
                maxlength="200"
                  type="text"
                  name="supplier"
                  [(ngModel)]="model.remark"
                  class="form-control"
                />
              </div>
            </div>
  
            <div class="col-md">
              <label>{{ "CHEMICAL_PRODUCTIONDATE" | translate }} </label>
              <span *ngIf="!(model.guid !== (null || ''))" style="color: red">(*)</span>
              <div class="form-group">
                <ejs-datepicker
                    format="yyyy/MM/dd"
                    [value]='dateValue'
                    [(ngModel)]="dateValue"
                ></ejs-datepicker>
                
              </div>
            </div>
  
          </div>

      </div>
    </div>

    <!-- <div class="row">
      <div class="col-md">
        <label>{{ "COMMENT" | translate }} </label>
        <div class="form-group">
          <textarea
            class="form-control"
            [(ngModel)]="model.comment"
            cols="4"
            rows="4"
          ></textarea>
        </div>
      </div>
    </div> -->
  </div>
  <div class="modal-footer">
    <div class="mr-auto" *ngIf="model?.id > 0">
      <p>
        <span class='mr-2'> <span class='my-font-weight-bold'>{{ 'Create by' | translate}}</span> : {{audit?.createBy}}</span>
        <span><span class='my-font-weight-bold'>{{ 'Create date time' | translate}}</span> : {{audit?.createDate}}</span>
      </p>
      <p>
        <span class='mr-2'><span class='my-font-weight-bold'>{{ 'Update by' | translate}}</span> : {{audit?.updateBy}}</span>
        <span><span class='my-font-weight-bold'>{{ 'Update date time' | translate}}</span> : {{audit?.updateDate}}</span>
      </p>
    </div>
    <span *ngIf="!(model.id > 0)" class="my-note mr-auto">
      {{ 'Note: (*) is a required field' | translate }}
    </span>
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      {{ "CLOSE" | translate }}
    </button>
    <button
      [disabled]="!model.modelName 
      || !model.modelNo 
      || !model.article1
      || !model.article2
      "
      (click)="save()"
      class="btn btn-primary"
    >
      {{ "SAVE" | translate }}
    </button>
  </div>
</ng-template>
